.filter-by{
	margin-left: 10px;
}

#content .stylists{
	position: relative;
}


#content .stylists .profile-pic {
  position: absolute;
  top: 40%;
  left: 25%;
  bottom: 25%;
  right: 25%;
}

#content .stylists .profile-pic img{
	border:3px solid #fff;
	margin: 0 auto;
	width: 80%
}

#content .stylists .text {
  margin-top: 60px;
}

#comments .comment-start{
  margin-top: 200px;
  margin-left: 100px;
}

#stylist-intro {
  background: url('../img/stylist-sofia.jpg') no-repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#stylist-intro .item {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  height: 100%;
}
#stylist-intro .item h1 {
  text-transform: uppercase;
  font-size: 50px;
  color: #fff;
}
@media (max-width: 991px) {
  #stylist-intro .item h1 {
    font-size: 40px;
  }
}
@media (max-width: 767px) {
  #stylist-intro .item h1 {
    font-size: 25px;
  }
}
#stylist-intro .item h3 {
  color: #fff;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  #stylist-intro .item h3 {
    font-size: 15px;
    margin-bottom: 20px;
  }
}
#stylist-intro .item .btn {
  text-transform: none;
}
@media (max-width: 991px) {
  #stylist-intro .item .btn {
    font-size: 14px;
  }
}
@media (min-width: 768px) {
  .carousel-caption {
  	left: 10% !important;
  	right: 10% !important;
}
@media (max-width: 991px) {
  #stylist-intro .item .carousel-caption {
    left: 10%;
    right: 10%;
    top: 40%;
  }
}
#stylist-intro .container,
#stylist-intro .row {
  height: 100%;
  position: relative;
}