.filter-by{
	margin-left: 10px;
}

#content .stylists{
	position: relative;
}


#content .stylists .profile-pic {
  position: absolute;
  top: 40%;
  left: 25%;
  bottom: 25%;
  right: 25%;
}

#content .stylists .profile-pic img{
	border:3px solid #fff;
	margin: 0 auto;
	width: 80%
}

#content .stylists .text {
  margin-top: 60px;
}

#comments .comment-start{
  margin-top: 200px;
  margin-left: 100px;
}