
    <!-- *** LOGIN MODAL ***
_________________________________________________________ -->

    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
        <div class="modal-dialog modal-sm">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="Login">Provider login</h4>
                </div>
                <div class="modal-body">
                    <form action="customer-orders.html" method="post">
                        <div class="form-group">
                            <input type="text" class="form-control" id="email" placeholder="email">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="password" placeholder="password">
                        </div>

                        <p class="text-center">
                            <button class="btn btn-primary"><i class="fa fa-sign-in"></i> Log in</button>
                        </p>

                    </form>

                    <p class="text-center text-muted">Not registered yet?</p>
                    <p class="text-center text-muted"><a href="register.html"><strong>Register now</strong></a>! It is easy and done in 1&nbsp;minute and gives you access to a great community!</p>

                </div>
            </div>
        </div>
    </div>

    <!-- *** LOGIN MODAL END *** -->

    <!-- *** HERO IMAGE ***
    _________________________________________________________ -->
<div id="intro">
        <div class="item" style="width: 100%; height: 665px;">
            <div class="container">
                <div class="row">
                    <div class="carousel-caption">
                        <h1>Find your new (stylish) friend</h1>
                        <h3>Simply select if you'd like a single look, or a complete wardobe overhaul</h3>
                        <p><a class="btn btn-lg btn-white" href="#content" role="button">I Need One Look</a>
                        </p>
                        <p><a class="btn btn-lg btn-white" href="#content" role="button">Wardrobe Overhaul</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- /#slider -->

    <!-- *** HERO IMAGE END *** -->

    <div id="all">

        <!-- *** ADVANTAGES ***
_________________________________________________________ -->

        <div id="advantages">

            <div class="container">

                <div class="col-md-12">

                    <div class="box text-center">
                        <h3 class="text-uppercase" style="margin-bottom: -2%">How Does it Work?</h3>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <h3>1: Choose Style Needs</h3>
                            <div class="image">
                                <a href="detail.html">
                                    <img src="img/product4.jpg" alt="" class="img-responsive image1">
                                </a>
                            </div>
                            <br />
                            <p class="text-muted">Either one look or a complete wardrobe overhaul.</p>
                        </div>
                        <!-- /.col-sm-4 -->
                        <div class="col-sm-4">
                            <h3>2: Pick Stylist</h3>
                            <div class="image">
                                <a href="detail.html">
                                    <img src="img/product4.jpg" alt="" class="img-responsive image1">
                                </a>
                            </div>
                            <br />
                            <p class="text-muted">Browse our hand-selected and vetted stylists to find one that you feel comfortable with.</p>
                        </p>
                    </div>
                    <!-- /.col-sm-4 -->
                    <div class="col-sm-4">
                        <h3>3: Get Styled!</h3>
                        <div class="image">
                            <a href="detail.html">
                                <img src="img/product4.jpg" alt="" class="img-responsive image1">
                            </a>
                        </div>
                        <br />
                        <p class="text-muted">Our stylist will contact you within 24 hours to start your style makeover.</p>
                    </ul>
                </div>
                <!-- /.col-sm-4 -->
            </div>
            <!-- /.row -->

                    <div class="box text-center">
                        <h3 class="text-uppercase">It's easy to get Styling help!</h3>

                        <p>We have stylists for any need and price point. Simply select a stylist for a single look, or for a complete wardrobe overhaul.</p>



                        <div class="same-height-row row">
                            <div class="col-sm-3">
                                <div class="box same-height clickable no-border text-center-xs text-center-sm">
                                    <div class="icon"><i class="fa fa-heart-o"></i>
                                    </div>
                                    <h4><a href="text.html">Satisfied customers</a></h4>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="box same-height clickable no-border text-center-xs text-center-sm">
                                    <div class="icon"><i class="fa fa-tags"></i>
                                    </div>
                                    <h4><a href="text.html">Prices to fit your needs</a></h4>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="box same-height clickable no-border text-center-xs text-center-sm">
                                    <div class="icon"><i class="fa fa-send-o"></i>
                                    </div>
                                    <h4><a href="faq.html">Easy Scheduling</a></h4>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="box same-height clickable no-border text-center-xs text-center-sm">
                                    <div class="icon"><i class="fa fa-refresh"></i>
                                    </div>
                                    <h4><a href="contact.html">Community Resources</a></h4>
                                </div>
                            </div>
                        </div>
                        <!-- /.row -->

                    </div>

                </div>


            </div>
            <!-- /.container -->

        </div>
        <!-- /#advantages -->

        <!-- *** ADVANTAGES END *** -->

        <!-- *** CONTENT ***
        _________________________________________________________
        _________________________________________________________
        -->

        <div id="content">
            <div class="container">

                <div class="col-sm-12">

                    <div class="box text-center">
                        <h3 class="text-uppercase">Featured Stylists</h3>

                        <h4 class="text-muted">Each one of our hand-selected stylists will be able to help you no matter what your style.</h4>
                    </div>

                    <div class="row products">

                        <div class="col-md-3 col-sm-4">
                            <div class="product">
                                <div class="image">
                                    <a href="detail.html">
                                        <img src="img/product1.jpg" alt="" class="img-responsive image1">
                                    </a>
                                </div>
                                <!-- /.image -->
                                <div class="text">
                                    <h3><a href="detail.html">Hair</a></h3>
                                   
                                </div>
                                <!-- /.text -->
                            </div>
                            <!-- /.product -->
                        </div>

                        <div class="col-md-3 col-sm-4">
                            <div class="product">
                                <div class="image">
                                    <a href="detail.html">
                                        <img src="img/product2.jpg" alt="" class="img-responsive image1">
                                    </a>
                                </div>
                                <!-- /.image -->
                                <div class="text">
                                    <h3><a href="detail.html">Face</a></h3>
                                  
                                </div>
                                <!-- /.text -->

                                <div class="ribbon sale">
                                    <div class="theribbon">NEW STYLISTS</div>
                                    <div class="ribbon-background"></div>
                                </div>
                                <!-- /.ribbon -->

                                <!-- /.ribbon -->
                            </div>
                            <!-- /.product -->
                        </div>

                        <div class="col-md-3 col-sm-4">
                            <div class="product">
                                <div class="image">
                                    <a href="detail.html">
                                        <img src="img/product3.jpg" alt="" class="img-responsive image1">
                                    </a>
                                </div>
                                <!-- /.image -->
                                <div class="text">
                                    <h3><a href="detail.html">Home</a></h3>
                                
                                </div>
                                <!-- /.text -->
                            </div>
                            <!-- /.product -->
                        </div>

                        <div class="col-md-3 col-sm-4">
                            <div class="product">
                                <div class="image">
                                    <a href="detail.html">
                                        <img src="img/product4.jpg" alt="" class="img-responsive image1">
                                    </a>
                                </div>
                                <!-- /.image -->
                                <div class="text">
                                    <h3><a href="detail.html">Dress</a></h3>
                                </div>
                                <!-- /.text -->
                            </div>
                            <!-- /.product -->
                        </div>

                        <div class="modal fade" id="product-quick-view-modal" tabindex="-1" role="dialog" aria-hidden="false">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-body">

                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                                        <div class="row quick-view product-main">
                                            <div class="col-sm-6">
                                                <div class="quick-view-main-image">
                                                    <img src="img/detailbig1.jpg" alt="" class="img-responsive">
                                                </div>

                                                <div class="ribbon ribbon-quick-view sale">
                                                    <div class="theribbon">FEATURED</div>
                                                    <div class="ribbon-background"></div>
                                                </div>
                                                <!-- /.ribbon -->

                                                <!-- /.ribbon -->

                                                <div class="row thumbs">
                                                    <div class="col-xs-4">
                                                        <a href="img/detailbig1.jpg" class="thumb">
                                                            <img src="img/detailsquare.jpg" alt="" class="img-responsive">
                                                        </a>
                                                    </div>
                                                    <div class="col-xs-4">
                                                        <a href="img/detailbig2.jpg" class="thumb">
                                                            <img src="img/detailsquare2.jpg" alt="" class="img-responsive">
                                                        </a>
                                                    </div>
                                                    <div class="col-xs-4">
                                                        <a href="img/detailbig3.jpg" class="thumb">
                                                            <img src="img/detailsquare3.jpg" alt="" class="img-responsive">
                                                        </a>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--/.modal-dialog-->
                        </div>
                        <!-- /.modal -->

                    </div>
                    <!-- /.products -->

                </div>
                <!-- /.col-sm-12 -->

            </div>
            <!-- /.container -->

            <!-- *** PROMO BAR ***
_________________________________________________________ -->

            <div class="bar background-image-fixed-2 no-mb color-white text-center">
                <div class="dark-mask"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="icon icon-lg"><i class="fa fa-group"></i>
                            </div>
                            <h1>Stylebar is the first Stylist Community</h1>
                            <p class="lead">We have workshops, and mentorship programs to help you build your brand.</p>
                            <p class="text-center">
                                <a href="index2.html" class="btn btn-white btn-lg">Apply to be a Stylebar stylist</a>
                            </p>
                        </div>

                    </div>
                </div>
            </div>

            <!-- *** PROMO BAR END *** -->


            <div class="container">
                <div class="col-sm-12">
                    <!-- *** BLOG HOMEPAGE ***
_________________________________________________________ -->

                    <div class="box text-center">
                        <h3 class="text-uppercase">Expert Advice</h3>

                        <p class="text-italic text-large">How do you build a lifestyle brand? <span class="accent">Check our blog for advice from experts!</span>
                        </p>
                    </div>

                    <div id="blog-homepage" class="row">
                        <div class="col-sm-6">
                            <div class="post">
                                <h4><a href="post.html">What are the hottest styles in 2015?</a></h4>
                                <p class="author-category">By <a href="#">John Slim</a> in <a href="">Fashion and style</a>
                                </p>
                                <hr>
                                <p class="intro">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean
                                    ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                                <p class="read-more"><a href="post.html" class="btn btn-primary">Continue reading</a>
                                </p>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="post">
                                <h4><a href="post.html">How to build your customer base</a></h4>
                                <p class="author-category">By <a href="#">John Slim</a> in <a href="">About Minimal</a>
                                </p>
                                <hr>
                                <p class="intro">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean
                                    ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                                <p class="read-more"><a href="post.html" class="btn btn-primary">Continue reading</a>
                                </p>
                            </div>

                        </div>

                    </div>
                    <!-- /#blog-homepage -->

                    <!-- *** BLOG HOMEPAGE END *** -->
                </div>
            </div>

        </div>
        <!-- /#content -->
        <!-- *** INSTAGRAM FEED *** -->

        <div class="box text-center">
        <h3 class="text-uppercase">Featured Looks</h3>

            <h4 class="text-muted">Tag #Stylebar in your photos to be featured on our website.</h4>
        </div>

    <wrap-owlcarousel id="slider" class="owl-carousel owl-theme" style="padding-bottom: 5%" data-options="{autoPlay: 2000, stopOnHover: true, slideSpeed : 300, paginationSpeed : 400}">

        <div class="item">
            <a href="#">
                <img src="img/slide1.jpg" alt="" class="img-responsive">
            </a>
        </div>

        <div class="item">
            <a href="#">
                <img src="img/slide2.jpg" alt="" class="img-responsive">
            </a>
        </div>

        <div class="item">
            <a href="#">
                <img src="img/slide3.jpg" alt="" class="img-responsive">
            </a>
        </div>

        <div class="item">
            <a href="#">
                <img src="img/slide4.jpg" alt="" class="img-responsive">
            </a>
        </div>

        <div class="item">
            <a href="#">
                <img src="img/slide5.jpg" alt="" class="img-responsive">
            </a>
        </div>

        <div class="item">
            <a href="#">
                <img src="img/slide6.jpg" alt="" class="img-responsive">
            </a>
        </div>


    </wrap-owlcarousel>

    </div>
    <!-- /#all -->