
    <!-- *** LOGIN MODAL ***
_________________________________________________________ -->

    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
        <div class="modal-dialog modal-sm">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="Login">Provider login</h4>
                </div>
                <div class="modal-body">
                    <form action="customer-orders.html" method="post">
                        <div class="form-group">
                            <input type="text" class="form-control" id="email" placeholder="email">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="password" placeholder="password">
                        </div>

                        <p class="text-center">
                            <button class="btn btn-primary"><i class="fa fa-sign-in"></i> Log in</button>
                        </p>

                    </form>

                    <p class="text-center text-muted">Not registered yet?</p>
                    <p class="text-center text-muted"><a href="#"><strong>Register now</strong></a>! It is easy and done in 1&nbsp;minute and gives you access to a great community!</p>

                </div>
            </div>
        </div>
    </div>

    <!-- *** LOGIN MODAL END *** -->

    <!-- *** HERO IMAGE ***
    _________________________________________________________ -->
<div id="intro">
        <div class="item" style="width: 100%; height: 665px;">
            <div class="container">
                <div class="row">
                    <div class="carousel-caption">
                        <h1>YOUR STYLE . . . OUR LITTLE SECRET</h1>
                        <h3>What can we help you with?</h3>
                            <div class="col-md-6">
                        <p><a class="btn btn-lg btn-white" ui-sref="^.browsing" role="button">I Need One Look</a></p>
                            </div>
                              <div class="col-md-6">
                        <p><a class="btn btn-lg btn-white" ui-sref="^.browsing" role="button">I Need a Wardrobe Makeover</a></p>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- /#slider -->

    <!-- *** HERO IMAGE END *** -->

    <div id="all">

        <!-- *** ADVANTAGES ***
_________________________________________________________ -->

        <div id="advantages">

            <div class="container">

                <div class="col-md-12">

                    <div class="box text-center">
                        <h3 class="text-uppercase" style="margin-bottom: -2%">How Does it Work?</h3>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <h3>1: Tell Us What You Need</h3>
                            <div class="image">
                                <a href="#">
                                    <img src="img/image99.jpg" alt="" class="img-responsive image1">
                                </a>
                            </div>
                            <br />
                            <p class="text-muted">Sometimes you need one look, and sometimes you need a little bit more help. Out stylists are here for you either way.</p>
                        </div>
                        <!-- /.col-sm-4 -->
                        <div class="col-sm-4">
                            <h3>2: Choose a Stylist</h3>
                            <div class="image">
                                <a href="#">
                                    <img src="img/choose1.jpg" alt="" class="img-responsive image1">
                                </a>
                            </div>
                            <br />
                            <p class="text-muted">Browse our carefully-selected and vetted stylists to find one that meets your style needs.</p>
                        </p>
                    </div>
                    <!-- /.col-sm-4 -->
                    <div class="col-sm-4">
                        <h3>3: Get Styled!</h3>
                        <div class="image">
                            <a href="#">
                                <img src="img/outfit55.jpg" alt="" class="img-responsive image1">
                            </a>
                        </div>
                        <br />
                        <p class="text-muted">Our stylist will contact you within 24 hours to start your style makeover. Depending on your need, you will either receive 3 hand selected looks or a personal home visit.</p>
                    </ul>
                </div>
                <!-- /.col-sm-4 -->
            </div>
            <!-- /.row -->

                   

                </div>


            </div>
            <!-- /.container -->

        </div>
        <!-- /#advantages -->

        <!-- *** ADVANTAGES END *** -->

        <!-- *** CONTENT ***
        _________________________________________________________
        _________________________________________________________
        -->

        <div id="content">
            <div class="container">

                <div class="col-sm-12">

                    <div class="box text-center">
                        <h3 class="text-uppercase">Featured Stylists</h3>

                        <h4 class="text-muted">Each one of our hand-selected stylists will be able to help you no matter what your style.</h4>
                    </div>

                    <div class="row products">

                        <div class="col-md-3 col-sm-4">
                            <div class="product">
                                <div class="image">
                                    <a href="#">
                                        <img src="img/stylist-work-3.jpg" alt="" class="img-responsive image1">
                                    </a>
                                </div>
                                <!-- /.image -->
                              
                                <!-- /.text -->
                            </div>
                            <!-- /.product -->
                        </div>

                        <div class="col-md-3 col-sm-4">
                            <div class="product">
                                <div class="image">
                                    <a href="#">
                                        <img src="img/stylist-work-2.jpg" alt="" class="img-responsive image1">
                                    </a>
                                </div>

                            </div>
                            <!-- /.product -->
                        </div>

                        <div class="col-md-3 col-sm-4">
                            <div class="product">
                                <div class="image">
                                    <a href="#">
                                        <img src="img/stylist-work-1.jpg" alt="" class="img-responsive image1">
                                    </a>
                                </div>
                                  
                                <!-- /.image -->
                                 <!-- /.text -->
                            </div>
                            <!-- /.product -->
                        </div>

                        <div class="col-md-3 col-sm-4">
                            <div class="product">
                                <div class="image">
                                    <a href="#">
                                       <img src="img/stylist-work-4.jpg" alt="" class="img-responsive image1">
                                    </a>
                                </div>
                                <!-- /.image -->
                                
                                <!-- /.text -->
                            </div>
                            <!-- /.product -->
                        </div>

                        <div class="modal fade" id="product-quick-view-modal" tabindex="-1" role="dialog" aria-hidden="false">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-body">

                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                                        <div class="row quick-view product-main">
                                            <div class="col-sm-6">
                                                <div class="quick-view-main-image">
                                                    <img src="img/detailbig1.jpg" alt="" class="img-responsive">
                                                </div>

                                                <div class="ribbon ribbon-quick-view sale">
                                                    <div class="theribbon">FEATURED</div>
                                                    <div class="ribbon-background"></div>
                                                </div>
                                                <!-- /.ribbon -->

                                                <!-- /.ribbon -->

                                                <div class="row thumbs">
                                                    <div class="col-xs-4">
                                                        <a href="img/detailbig1.jpg" class="thumb">
                                                            <img src="img/detailsquare.jpg" alt="" class="img-responsive">
                                                        </a>
                                                    </div>
                                                    <div class="col-xs-4">
                                                        <a href="img/detailbig2.jpg" class="thumb">
                                                            <img src="img/detailsquare2.jpg" alt="" class="img-responsive">
                                                        </a>
                                                    </div>
                                                    <div class="col-xs-4">
                                                        <a href="img/detailbig3.jpg" class="thumb">
                                                            <img src="img/detailsquare3.jpg" alt="" class="img-responsive">
                                                        </a>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--/.modal-dialog-->
                        </div>
                        <!-- /.modal -->

                    </div>
                    <!-- /.products -->

                </div>
                <!-- /.col-sm-12 -->

            </div>
            <!-- /.container -->

            <!-- *** PROMO BAR ***
_________________________________________________________ -->

            <div class="bar background-image-fixed-2 no-mb color-white text-center">
                <div class="dark-mask"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1>Your personal style solution. </h1>
                            <p class="lead">Perfecting your look, one job interview, wedding, and public appearance at a time. </p>
                            <p class="text-center">
                                <a ui-sref="^.browsing" class="btn btn-white btn-lg">GET STARTED TODAY</a>
                            </p>
                        </div>

                    </div>
                </div>
            </div>

            <!-- *** PROMO BAR END *** -->


            <div class="container">
                <div class="col-sm-12">
                    <!-- *** BLOG HOMEPAGE ***
_________________________________________________________ -->

                    <div class="box text-center">
                        <h3 class="text-uppercase">THE STYLE FILE</h3>

                        <p class="text-italic text-large">How do you find your own personal style? <span class="accent">Check our blog for advice from experts!</span>
                        </p>
                    </div>

                    <div id="blog-homepage" class="row">
                        <div class="col-sm-6">
                            <div class="post">
                                <h4><a href="post.html">The perfect motorcycle jacket</a></h4>
                                <p class="author-category">By <a href="#">Jeanette Slim</a> in <a href="">Fashion and style</a>
                                </p>
                                <hr>
                                <p class="intro">Anyone can get away with wearing a leather jacket. Whether faux or real, girly or motorcycle, the possibilities are endless. Florals will instantly get toughened up, neutrals will look sophisticated.

                                For me, the leather jacket is like this magic layer I can wear day or night, from spring till winter, knowing that the overall effect will always be youthful and a little bit rock’n’roll.
                                .</p>
                                <p class="read-more"><a href class="btn btn-primary">Continue reading</a>
                                </p>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="post">
                                <h4><a href="post.html">Polished boho-chic</a></h4>
                                <p class="author-category">By <a href="#">John Slim</a> in <a href="">About Minimal</a>
                                </p>
                                <hr>
                                <p class="intro">Can we dress 70s boho-chic but still look polished? Can we wear simple outfits but look sophisticated? Can we be TRENDY professional women, and not sit fads out when we’re behind boring desks? When you think about your day-to-day looks basically we’re all stuck in the same pile of crap: tops, skirts, pants, heels or flats and (still) coats. </p>
                                <p class="read-more"><a href class="btn btn-primary">Continue reading</a>
                                </p>
                            </div>

                        </div>

                    </div>
                    <!-- /#blog-homepage -->

                    <!-- *** BLOG HOMEPAGE END *** -->
                </div>
            </div>

        </div>
        <!-- /#content -->
        <!-- *** INSTAGRAM FEED *** -->

        <div class="box text-center">
        <h3 class="text-uppercase">Featured Looks</h3>

            <h4 class="text-muted">Tag #Stylebar in your photos to be featured on our website.</h4>
        </div>

    <wrap-owlcarousel id="slider" class="owl-carousel owl-theme" style="padding-bottom: 5%" data-options="{autoPlay: 2000, stopOnHover: true, slideSpeed : 300, paginationSpeed : 400}">


        <div class="item">
            <a href="#">
                <img src="img/style1.jpg" alt="" class="img-responsive">
            </a>
        </div>
        <div class="item">
            <a href="#">
                <img src="img/style02.jpg" alt="" class="img-responsive">
            </a>
        </div>
        <div class="item">
            <a href="#">
                <img src="img/style6.jpg" alt="" class="img-responsive">
            </a>
        </div>

        <div class="item">
            <a href="#">
                <img src="img/style00.jpg" alt="" class="img-responsive">
            </a>
        </div>

        <div class="item">
            <a href="#">
                <img src="img/style99.jpg" alt="" class="img-responsive">
            </a>
        </div>

 


    </wrap-owlcarousel>

    </div>
    <!-- /#all -->